h1, h2, h3, h4, p, div, figure, a {
    color: #573c82;
    text-align: center;
    font-family: Gill Sans, Sans-serif;
}

body {
    background-color:#bdb5d5;
}

.verse {

}
nav ul {
    background-color: black;
    color: white;
    width: 50%;
    padding: 2rem;
}